<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="icon" href="favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Navidad Familia 2019 | Registro</title>
</head>

<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-toolbar color="red" fixed>
          <v-toolbar-title class="white--text">Navidad Familia 2019</v-toolbar-title>

          <div class="flex-grow-1"></div>
          <!-- v-if="$vuetify.breakpoint.smAndUp" -->
          <v-toolbar-items>
            <v-btn text href="index.html">
              <v-icon>mdi-account-check</v-icon>
              Ingresar
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-container>
          <v-layout align-center justify-center>
            <v-card width="400" color="blue lighten-5">
              <v-card-title>
                <v-spacer></v-spacer>
                <b>REGISTRARSE</b>
                <v-spacer></v-spacer>
              </v-card-title>
              <v-container>
                <v-text-field solo label="Usuario" v-model="username"></v-text-field>
                <v-text-field solo label="Contraseña" type="password" v-model="password">
                </v-text-field>
                <center>
                  <v-btn dark color="primary" @click="register()" :loading="loading">
                    Registrarse
                    <v-icon right>mdi-account-plus</v-icon>
                  </v-btn>
                </center>
              </v-container>
            </v-card>
          </v-layout>
          <v-snackbar v-model="snackbar" :timeout="3500" :color="snackcolor">
            {{snackbartext }}
            <v-btn color="white" text @click="snackbar = false">
              cerrar
            </v-btn>
          </v-snackbar>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      beforeMount() {
        this.initFirebase()
      },
      data: {
        username: "",
        password: "",
        snackbar: false,
        snackbartext: "",
        snackcolor: "",
        logged: false,
        loading: false,
        db: null
      },
      methods: {
        initFirebase() {
          var firebaseConfig = {
            apiKey: "AIzaSyAIkUie5qjlEObq7VMqa6jJhn7k76G6iU0",
            authDomain: "navidad-2019.firebaseapp.com",
            databaseURL: "https://navidad-2019.firebaseio.com",
            projectId: "navidad-2019",
            storageBucket: "navidad-2019.appspot.com",
            messagingSenderId: "114178192273",
            appId: "1:114178192273:web:661b9035f61d330f00a030",
            measurementId: "G-RQ883D96YY"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
          this.db = firebase.firestore();
        },
        register() {
          this.loading = true
          if (this.username != '' && this.password != '') {
            var self = this
            this.db.collection("usuarios").add({
              nombre: this.username,
              password: this.password,
              elegido: null
            })
              .then(function (docRef) {
                self.snackbar = true
                self.logged = true
                self.loading = false
                self.snackcolor = "success"
                self.snackbartext = "Registro exitoso! " + self.username + ". Ahora ingrese con sus datos"
                setTimeout(()=> {
                  window.location.href = "index.html";
                }, 3000)
                console.log("Document written with ID: ", docRef.id);
              })
              .catch(function (error) {
                console.error("Error adding document: ", error);
                self.snackbar = true
                self.snackcolor = "error"
                self.snackbartext = "Error al registrar"
                self.loading = false
              });
          } else {
            this.snackbar = true
            this.snackcolor = "error"
            this.snackbartext = "Llene los campos"
            this.loading = false
          }

        }
      }
    })
  </script>
  <style>
    #app {
      font-family: 'Ubuntu', sans-serif;
    }
  </style>
</body>

</html>